# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/callback
# GOOGLE_REDIRECT_URI=https://mailer-m.onrender.com/auth/callback


# App
SECRET_KEY=generate-a-random-secret-key-here
DATABASE_URL=sqlite:///./prioritymail.db
ENVIRONMENT=development
